<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buy</title>
<link rel="stylesheet" href="homepagedesign.css" />
<link rel="stylesheet" href="login window.css" />
<link rel="stylesheet" href="table.css" />
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
</head>
<body>

<div class="logo">
    <img src="logo.jpg" alt="logop" width="1000" height="331">
    <div class="welcome">Welcome</div>
</div>

<div class="menu">
        <div class="b">menu</div>

    <button class="big-button" onclick="moveProdPage()">Products</button>
    <button class="big-button" onclick="movAboutPage()">About</button>
    <button class="big-button" onclick="myFunction()">What new</button>
    <button class="big-button" onclick="moveBuyPage()">buy</button>
    <button class="big-button" onclick="moveHomePage()">Home</button>
</div>



    <table id="myTable"class="ruleToRemove" style="left: 400px;
  text-align: center;position: relative;border-collapse: collapse;margin: 0px 0px;font-size: 20px;min-width: 600px;border-radius: 30px 30px 30px 30px;overflow: hidden;box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);border-collapse: collapse; border-radius: 30px;">
        <tbody>
            <tr>
                <td>מיכאלי</td>
                <td>כישורית</td>
                <td>סולטן</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>




<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
<div class="centered">
<div class="content-table" data-url="/basicNames"></div>
</div>
    </table>
  </div>

<button class="submit_list" onclick="movesubmitLst()">SUBMIT</button>
</div>

</body>
<script>

    class Veg{
  constructor(basicName, quantity) {
    this.basicName = basicName;
    this.quantity = quantity;
  }
}

class  Cart {
        constructor(userId){
            this.userId = userId
            this.products = []
        }

        //while add quantity to the shopping cart, update it
        addProduct(name, q) {
            var foundIndex = this.findProduct(name);
            if(foundIndex === -1) {
                var newProduct= new Veg(name, q)
                this.products.push(newProduct)
                return
            }
            else {
                this.products[foundIndex].quantity = q
            }
             //console.log(this.products);
        }

        subtractProduct(name,q) {
            var foundIndex = this.findProduct(name);
            if(foundIndex === -1)
                return
            else {
                if(q === 0)
                    this.products.splice(foundIndex, 1);
                else
                    this.products[foundIndex].quantity = q;
            }
            //console.log(this.products);
        }

        findProduct(name) {
            //console.log('try to find: '+name);
            let i=0;

            for(let val of this.products)
            {
                if(val.basicName===name)
                    return i;
                else
                    i++;
            }
            return -1;

            //return this.products.findIndex(n=> n === name);
        }
}

    //move button functions
  function moveProdPage() {
  location.href = '/Products2';
}
function moveHomePage() {
  location.href = "/new";
}

function moveBuyPage() {
  location.href = "/buy";
}

function movesubmitLst() {
   //console.log(shoppingCart);
    window.localStorage.setItem('Shopping cart list', JSON.stringify(shoppingCart));
    location.href = '/submit';
}

    //take the veg names from basic veg table and their costs from the different suppliers
    async function updateTable(root){
        const table = root.querySelector(".content-table");
        const response = await fetch('/basicNames');//await fetch("/data");
        const headers = ['שם מוצר','כמות','סולטן','כישורית','מיכאלי'];
        const dataProdsName = await response.json();

        const response2= await fetch('/basicNamesCost');
        const dataProdsCost=await response2.json();

        //console.log(root.dataset.url)
        for(let val of dataProdsCost) {
            //console.log(val);
        }

        // Clear Table
        table.querySelector("thead tr").innerHTML = '';
        table.querySelector("tbody").innerHTML = '';
        for (const header of headers){
            table.querySelector('thead tr').insertAdjacentHTML('afterbegin', `<th>${ header }</th>`);
        }

        var sultan='-';
        var kishurit='-';
        var michaeli='-';

        for (const row of dataProdsName){
            sultan='-';
            kishurit='-';
            michaeli='-';
            var min=-1;
            for(const r of dataProdsCost) {
                if(r.Base_Prod === row.Veg_Name) {
                    //console.log("yess");
                    if(r.Prod_Web=='Sultan'){
                        sultan=r.Prod_Price;
                        min=sultan;
                    }
                    if(r.Prod_Web=='Kishurit'){
                        kishurit=r.Prod_Price;
                        if(min>kishurit)min=kishurit;
                    }
                    if(r.Prod_Web=='Michaeli'){
                        michaeli=r.Prod_Price;
                        if(min>michaeli)min=michaeli;
                    }
                }
            }
            console.log("prod:"+row.Veg_Name+" k:"+kishurit+" m:"+michaeli+" s:"+sultan);

            //check if there is any quantity of the product. if not- dont allow the client to increase or decrease
            //quantity from the specific prod
            if(michaeli === "-" && kishurit === "-" && sultan === "-")
            {
                table.querySelector('tbody').insertAdjacentHTML('beforebegin', `
            <tr>
            <td>
                ${michaeli}
            </td>
            <td>
                ${kishurit}
            </td>
            <td>
                ${sultan}
            </td>
            <td>
                <div class="counter" data-name=${row.Veg_Name}>
                <span class="down"  >-</span>
                <input type="text" value="0">
                <span class="up" >+</span>
                </div>
            </td>
            <td>
               ${row.Veg_Name}
            </td>
            </tr>

        `);
            }
            else{
                table.querySelector('tbody').insertAdjacentHTML('beforebegin', `
            <tr>
            <td>
                ${michaeli}
            </td>
            <td>
                ${kishurit}
            </td>
            <td>
                ${sultan}
            </td>
            <td>
                <div class="counter" data-name=${row.Veg_Name} cost-sultan=${sultan}  cost-kishurit=${kishurit}  cost-michaeli=${michaeli}>
                <span class="down" onclick="decreaseCount(event)" >-</span>
                <input type="text" value="0">
                <span class="up" onclick="increaseCount(event)">+</span>
                </div>
            </td>
            <td>
               ${row.Veg_Name}
            </td>
            </tr>

        `);



            }

            //vegLst.push(v);
        }
    }


    let shoppingCart =new Cart(0);
    var costSultan=0;
    var costMichaeli=0;
    var costKishurit=0;
    var tbl=document.getElementById("myTable");
    tbl.classList.add('myTable')

    tbl.innerHTML = `<tbody>
            <tr>
                <td>מיכאלי</td>
                <td>כישורית</td>
                <td>סולטן</td>
            </tr>
            <tr>
                <td>${costMichaeli}</td>
                <td>${costKishurit}</td>
                <td>${costSultan}</td>
            </tr>
        </tbody>`;

    for (const root of document.querySelectorAll('.content-table[data-url]')){
        const table = document.createElement('table');
        table.classList.add('content-table')
        table.innerHTML = `

            <thead>
                <tr></tr>
            </thead>

            <tbody>
                <tr>
                    <td>Loading</td>
                </tr>
            </tbody>
        `;



         root.append(table);
         updateTable(root);


    }

    //for the quantity increaseCount
    function increaseCount(event) {
        var input = event.target.previousElementSibling;
        var currentVege = event.target.parentElement.getAttribute('data-name')
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;
        shoppingCart.addProduct(currentVege,value);

        var costS=event.target.parentElement.getAttribute('cost-sultan');
        if(costS!='-')
            costSultan+=parseInt(costS);

        var costM=event.target.parentElement.getAttribute('cost-michaeli');
        if(costM!='-')
            costMichaeli+=parseInt(costM);

        var costK=event.target.parentElement.getAttribute('cost-kishurit');
        if(costK!='-')
            costKishurit+=parseInt(costK);

        tbl.innerHTML = `<tbody>
            <tr>
                <td>מיכאלי</td>
                <td>כישורית</td>
                <td>סולטן</td>
            </tr>
            <tr>
                <td>${costMichaeli}</td>
                <td>${costKishurit}</td>
                <td>${costSultan}</td>
            </tr>
        </tbody>`;


        //console.log("s:"+costS+" m:"+costM+" k:"+costK+" total sum s:"+costSultan+" total sum m:"+costMichaeli+" total sum k:"+costKishurit);
    }

    //for the quantity decreaseCount
    function decreaseCount(event) {
      var input = event.target.nextElementSibling;
      var currentVege = event.target.parentElement.getAttribute('data-name')
      var value = parseInt(input.value, 10);
      if (value > 0) {
        value = isNaN(value) ? 0 : value;
        value--;
        input.value = value;
      }
      shoppingCart.subtractProduct(currentVege,value);

      var costS=event.target.parentElement.getAttribute('cost-sultan');
        if(costS!='-')
            costSultan-=parseInt(costS);
        if(costSultan<0) costSultan=0;

        var costM=event.target.parentElement.getAttribute('cost-michaeli');
        if(costM!='-')
            costMichaeli-=parseInt(costM);
        if(costMichaeli<0) costMichaeli=0;

        var costK=event.target.parentElement.getAttribute('cost-kishurit');
        if(costK!='-')
            costKishurit-=parseInt(costK);
        if(costKishurit<0)costKishurit=0;


        tbl.innerHTML = `<tbody>
            <tr>
                <td>מיכאלי</td>
                <td>כישורית</td>
                <td>סולטן</td>
            </tr>
            <tr>
                <td>${costMichaeli}</td>
                <td>${costKishurit}</td>
                <td>${costSultan}</td>
            </tr>
        </tbody>`;
        //console.log("s:"+costS+" m:"+costM+" k:"+costK+" total sum s:"+costSultan+" total sum m:"+costMichaeli+" total sum k:"+costKishurit);

    }

</script>
</html>