<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
<link rel="stylesheet" href="homepagedesign.css" />
<link rel="stylesheet" href="login window.css" />
<link rel="stylesheet" href="table.css">
<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>

<div class="headWelcome" >
    <div class="topHead" style="background: linear-gradient(to bottom, #4caf50 0%, #80bd5f 100%); height: 90px;"></div>
    <div class="downHead" style="background-color: white; height: 90px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"></div>
    <img src="logoShape.png" style="position:relative;left:700px;top:-180px;width: 330px;height: 180px;" alt="shape">
    <h1 style="font-family: 'Exo', sans-serif;position:relative;top:-300px;color: white; left:785px;">Auto shop</h1>
</div>

<div class="menuHead" style="position: relative;height: 100px; left:550px; width: 700px; top:-260px;">
<button class="menuButton" style="position: relative; " onclick="moveProdPage()">מה חדש</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="movAboutPage()">צרו קשר</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="movAboutPage()">אודות</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="moveBuyPage()">רכישת סל</button>
<label class="control-label" style="font-size: 16px;color: gray;">|</label>
<button class="menuButton" style="position: relative; " onclick="moveHomePage()">דף הבית</button>
</div>

<div class="main_page">
    <div class="column">
    <div class="TotalSum">
        <h1>סולטן</h1>
        <div class="miss">
        <div class="missS">
        <ul id="ulSultan" style="position:relative; font-size: 23px; top:-26px;">
        </ul>
        </div>
    </div>
        <p style="font-size: 23px;"><b>סה"כ הזמנה (כולל מחיר משלוח)</b></p>
        <p id="total_sum_sultan" style="position: relative; top:-40px; font-size: 40px;"></p>
        <button class="calcS" onclick="async function moveSultan() {
        var shoplst = window.localStorage.getItem('Shopping cart list');
            var products = JSON.parse(shoplst);
            var data = {'site': 'sultan', 'purchaseList':products['prodsSultan']};
             automatePurachase(data);
        }
        moveSultan()">הזמן כעת</button>
    </div>
    </div>
    <div class="column">
    <div class="TotalSum">
        <h1>כישורית</h1>
        <div class="miss">
        <div class="missK">
        <ul id="ulKishurit"style="position:relative; font-size: 23px; top:-26px;">
        </ul>
        </div>
    </div>
        <p style="font-size: 23px;"><b>סה"כ הזמנה (כולל מחיר משלוח)</b></p>
        <p id="total_sum_kishurit" style="position: relative;top:-40px; font-size: 40px;"></p>
        <button class="calcK" onclick="function moveKishurit() {
            var shoplst = window.localStorage.getItem('Shopping cart list');
            var products = JSON.parse(shoplst);
            var data = {'site': 'kishurit', 'purchaseList':products['prodsKishurit']};
            automatePurachase(data);
        }
        moveKishurit()">הזמן כעת</button>
    </div>
    </div>
    <div class="column">
    <div class="TotalSum">
        <h1>דוב</h1>
        <div class="miss">
        <div class="missD">
        <ul id="ulDov"style="position:relative; font-size: 23px; top:-26px;">
        </ul>
        </div>
    </div>
        <p style="font-size: 23px;"><b>סה"כ הזמנה (כולל מחיר משלוח)</b></p>
        <p id="total_sum_dov" style="position: relative;top:-40px; font-size: 40px;"></p>
        <button class="calcD" onclick="function moveDov() {


        }
        moveMichaeli()">הזמן כעת</button>
    </div>
    </div>
</div>
<div class="question" style="position: relative; left:40px; top:-300px;">
<p style="font-family: Assistant; position: relative; top:650px; font-size: 30px; left:-500px;">מעוניין להוזיל עוד?</p>
<button class="calcAnotherSplit" style="vertical-align:middle;left:-600px;" onclick="calcAnotherSplit()"><span>בדוק אפשרות לפצל הזמנה</span></button>
</div>


<div class id="separateOrder">
</div>

</body>

<script>
    //move button functions

  function moveProdPage() {
  location.href = '/Products2';
}
async function automatePurachase(purchaseList) {
    const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(purchaseList)

    }
    const respone = await fetch('/Pup', options);
    console.log(respone.send)

}
function moveHomePage() {
  location.href = "/new";
}

function moveBuyPage() {
  location.href = "/buy";
}

function moveSultan() {
    var shoplst = window.localStorage.getItem('Shopping cart list');
    var products = JSON.parse(shoplst);
    var data = {'site': 'sultan', 'purchaseList':products['prodsSultan']};
    var fenetrePopup = window.open('http://sultan.pricecall.co.il/');

    console.log(fenetrePopup.document.getElementById("350"));
}


//display a continues window when press on the separate button
function calcAnotherSplit() {
    console.log("yessss");
    if(countDisplay===0) {
        document.getElementById('separateOrder').innerHTML +=
            '<h1 style="position: relative; top:360px; left:-600px;font-family: Assistant;">נמצאה הזמנה מוזלת על סך ____ שקלים</h1>'
            +'<div class=" TotalSum" style="position: relative; top:400px; left:300px;"></div> '
            + '<img src="+.jpg"  style="position: relative; height:100px; width: 100px; top:50px; left:700px;"alt="+">'
            +'<h1 style="position: relative;font-family: Assistant;left:400px;top:-270px;">כישורית</h1><div class="miss" style="position:relative;top:-280px;left:310px;"><div class="missK"><ul id="ulKishurit"style="position:relative;font-family: Assistant; font-size: 23px; top:-26px;"> </ul> </div> </div>'
            +'<div class=" TotalSum" style="position: relative; top:-640px; left:900px;"></div>'
            +'<h1 style="font-family: Assistant;position: relative;left:1000px; top:-1200px;">מיכאלי</h1><div class="miss" style="top:-1210px;left:910px;font-family: Assistant;"><div class="missK"><ul id="ulKishurit"style="position:relative; font-size: 23px; top:-26px;"> </ul> </div> </div>'
            +'<button class="calcD" style="position: relative; top:-1100px; left:380px;" onclick="moveDov() ">הזמן כעת</button>'
            +'<button class="calcD" style="position: relative; top:-1100px; left:840px;" onclick="moveDov() ">הזמן כעת</button>'
            +'<p style="position:relative;font-family: Assistant;right:-310px;top:-1280px;font-size: 23px;"><b>סה"כ הזמנה (כולל מחיר משלוח)</b></p>'
            +'<p id="total_sum_kishurit" style="position: relative;top:-840px; font-size: 40px;"></p>'
            +'<p style="position:relative;font-family: Assistant;right:-910px;top:-1350px;font-size: 23px;"><b>סה"כ הזמנה (כולל מחיר משלוח)</b></p>' ;
    }
    countDisplay++;
}

countDisplay=0;
var shoplst=window.localStorage.getItem('Shopping cart list');
var products = JSON.parse(shoplst);
var prodsSultan=products['prodsSultan'];
var missSultan=products['missSultan'];
var prodsDov=products['prodsDov'];
var missDov=products['missDov'];
var prodsKishurit=products['prodsKishurit'];
var missKishurit=products['missKishurit'];

console.log("s: ");
for(const row of prodsSultan) {
        console.log("basic: "+ row.basicName);
        console.log(row.quantity);
        console.log("real name"+row.realName);
    }

console.log("k: ");
for(const row of prodsKishurit) {
    console.log("basic: "+row.basicName);
    console.log(row.quantity);
    console.log("real name"+row.realName);
    }

//put exist list to any supplier
if(products['prodsDov'].length!==0){
    for(const row of prodsDov) {
        document.getElementById('ulDov').innerHTML += '<dt style="text-align: right;font-size: 18px; color:#9BBB59;">'+row.basicName+' '+row.quantity+'</dt>';
    }
    document.getElementById('ulDov').innerHTML += '<br>';
}

if(products['prodsKishurit'].length!==0){
    for(const row of prodsKishurit) {
        document.getElementById('ulKishurit').innerHTML += '<dt style="text-align: right;font-size: 18px; color:#9BBB59;">'+row.basicName+' '+row.quantity+'</dt>';
    }
    document.getElementById('ulKishurit').innerHTML += '<br>';
}

if(products['prodsSultan'].length!==0){
    for(const row of prodsSultan) {
        document.getElementById('ulSultan').innerHTML += '<dt style="text-align: right;font-size: 18px; color:#9BBB59;">'+row.basicName+' '+row.quantity+'</dt>';
    }
    document.getElementById('ulSultan').innerHTML += '<br>';
}

//put miss list to any supplier
if(products['missSultan'].length !== 0){
        document.getElementById('ulSultan').innerHTML+='<dt style="text-align: right;color:#C9C9C9; font-size: 18px;" >'+'חוסרים מהרשימה: '+products['missSultan'].length+'</dt>';
    for(const row of missSultan) {
        document.getElementById('ulSultan').innerHTML += '<dt style="text-align: right;font-size: 18px;color:#C9C9C9;">'+row.basicName+'</dt>';
    }
}


if(products['missDov'].length !== 0){
    document.getElementById('ulDov').innerHTML+='<dt style="text-align: right; font-size: 18px;color:#C9C9C9;" >'+'חוסרים מהרשימה: '+products['missDov'].length+'</dt>';
    for(const row of missDov) {
        document.getElementById('ulDov').innerHTML += '<dt style="text-align: right;font-size: 18px;color:#C9C9C9;">'+row.basicName+'</dt>';
    }
}

if(products['missKishurit'].length !== 0){
   document.getElementById('ulKishurit').innerHTML+='<dt style="text-align: right; font-size: 18px;color:#C9C9C9;" >'+'חוסרים מהרשימה: '+products['missKishurit'].length+'</dt>';
    for(const row of missKishurit) {
        document.getElementById('ulKishurit').innerHTML += '<dt style="text-align: right;font-size: 18px;color:#C9C9C9;">'+row.basicName+'</dt>';
    }
}

//update total sum of suppliers
document.getElementById('total_sum_sultan').innerHTML += '<b>'+ '₪'+window.localStorage.getItem('sum sultan')+'</b>';
document.getElementById('total_sum_kishurit').innerHTML += '<b>'+ '₪'+window.localStorage.getItem('sum kishurit')+'</b>';
document.getElementById('total_sum_dov').innerHTML += '<b>'+ '₪'+window.localStorage.getItem('sum dov')+'</b>';



</script>
</html>